@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
	background-color: #f4f4f4;
}

h1 {
	letter-spacing: 4px;
	font-family: Oswald, sans-serif;
	text-transform: uppercase;
}

#logo a {
	color: #48838c;
	text-decoration: none;	
}

#logo {
	margin: 0;	
	font-size: 280%;
}

/* navigation links */

#logo a,
#main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;	
	display: flex;
	flex-direction: column;
	text-align: center;

}

#header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
}

 #main-nav a {
	text-decoration: none;
	color: #626269;
	letter-spacing: 4px;
}

#main-nav {
	margin-top: 5px;
	list-style: none;
    font-size: 110%;
}

#main-nav li a:hover {
    color: #48838c;
}

/* hero image */

.hero-image {
    height: 400px;
    width: 100%;
    background:url('../images/hero-image.jpg') no-repeat center center;       
}

.hero-gallery {
    height: 400px;
    width: 100%;
    background:url('../images/hero-3.jpg') no-repeat center center;       
}

/* about section */

.container-about {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background-color: #626269;
	color: #fff;
}

.left {
	height: 400px;	
}

.left-inner {	
	background-color: #48838c;
	padding: 65px;
	align-self: center;
	max-width: 100%;		
}

.right{
   padding: 25px 0;
}

.left-inner > h2 {
	font-size: 280%;
	text-align: center;
}

.about {
	list-style: none;
	font-size: 180%;
}

/* gallery */
#container {
	padding: 40px 5%;
  }
  
  .image-gallery {	
	display: flex;
	flex-direction: column;
	gap: 10px;
  }
  
  .image-gallery .column {
	display: flex;
	flex-direction: column;
	gap: 10px;
  }
  
  .image-item img {
	width: 100%;
	border-radius: 5px;
	height: 100%;
	object-fit: cover;
  }
/* 
  .video-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	gap: 10px;
  }

 .video-title {
	text-align: center;
	margin-bottom: 25px;
	font-size: 280%;
  } */

  /* signup */
#signup {
	/* padding: 5% 0;
	background-color: #626269; */
	z-index: 1;
}

.signup-container {  
	background: #000 url(https://images.pexels.com/photos/5257645/pexels-photo-5257645.jpeg?auto=compress&cs=tinysrgb&w=1600);
	height: 600px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
  }
  .color-overlay {
	width: 100%;
	height: 100%;
	background: blue;
	opacity: .4;
	position: absolute;
  }

.form-section {
	max-width: 300px;
	margin: 0 auto;
	padding: 10px 20px;
	background: #f4f7f8;
	border: 2px solid #000;
	border-radius: 8px;
  }
  
 .form-section > h2 {
	margin: 0 0 30px 0;
	text-align: center;
	font-size: 180%;
  }
  
  input[type="text"],  
  input[type="email"] {	
	font-size: 16px;
	height: auto;	
	margin-top: 5px;	
	padding: 15px;
	width: 90%;
	background-color: #808080;
	color: #8a97a0;	
	margin-bottom: 30px;
	border: 1px solid #000;
  }
  
  button {
	padding: 20px 40px;
	color: #FFF;
	background-color: #4bc970;
	font-size: 18px;
	text-align: center;	
	border-radius: 5px;
	width: 100%;	
	margin-bottom: 10px;
	margin-top: 20px;
  }

/* footer */

footer {
	height: 150px;
}

#social-networks {
    text-align: center;
}

#social-networks > li {
    display: inline;
}

#social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

#social-networks i:hover {
    color: #48838c;
}

/* media queries */

@media screen and (min-width: 768px) {
	#header,
	#main-nav {
		display: flex;
	}

	#header {
		flex-direction: column;
		align-items: center;    	
	}

	.image-gallery {
		flex-direction: row;
	  }
/* 
	.video-container {
		flex-direction: row;
		justify-content: space-around;
	} */
}

@media screen and (min-width: 992px) {
	#header {
		flex-direction: row;
		justify-content: space-between;
	}

	.active {
		border-bottom: 1px solid #3a3a3a;	
	}
}